xrandr --output eDP-1 --primary --mode 1920x1080 --rotate normal --output HDMI-1-0 --mode 1366x768 --rotate normal --right-of eDP-1

setxkbmap latam &
nm-applet &
volumeicon &
picom &
nitrogen --restore &
numlockx &
